<h3>Create an Account</h3>

<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label class="">Username</label>
    <input formControlName="username" />
  </div>
  {{ authForm.get("username")?.errors | json }}
  <div class="field">
    <label class="">Password</label>
    <input formControlName="password" />
  </div>
  {{ authForm.get("password")?.errors | json }}
  <div class="field">
    <label class="">Confirm Password</label>
    <input formControlName="confirmPassword" />
  </div>
  {{ authForm.get("confirmPassword")?.errors | json }}
  <button class="ui submit button primary">Sign Up</button>
</form>
