<h3>Create an Account</h3>

<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.controls.username"
  />
  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.controls.password"
  />
  <app-input
    inputType="password"
    label="Confirm Password"
    [control]="authForm.controls.passwordConfirmation"
  />

  <div
    *ngIf="
      authForm.controls.password.touched &&
      authForm.controls.passwordConfirmation.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors?.['passwordsDontMatch']">
      Password and Password Confirmation must match!
    </p>
  </div>

  <div>
    <button class="ui submit button primary">Sign Up</button>
  </div>
  {{ authForm.errors | json }}
</form>
