<h3>Sign In</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="username"
    [control]="authForm.controls.username"
  />
  <app-input
    inputType="password"
    label="username"
    [control]="authForm.controls.password"
  />

  <div *ngIf="authForm.errors" class="ui red basic label">
    <p class="authForm.errors.credentials">Invalid username or password!</p>
  </div>

  <div>
    <button class="ui submit button primary">Sign In</button>
  </div>
</form>
